extends layout
include mixins/navbar-buyer.jade
block content
  +buyer-nav(['','','active','','',''])


block holder
  div#receiptModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='basicModal', aria-hidden='true')
    .modal-dialog
      .modal-content
        //-.modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true')
          //- h4#myModalLabel.modal-title Modal title
        .modal-body
  .col-md-12
    //- .panel.panel-default
    //-   .panel-heading My latest receipts  
    //-   .panel-body
    div.row
      .btn-group.col-xs-12.col-md-6.col-sm-6.col-lg-3
        button.btn.btn-block.btn-default.dropdown-toggle.form-control(type='button', data-toggle='dropdown', aria-expanded='true')
          span(data-bind='label') Location
          span.caret
        |     
        ul.dropdown-menu(role='menu', aria-labelledby='Location')
          li
            a(role='menuitem', tabindex='-1',href='#') Austin
          |       
          li
            a(role='menuitem', tabindex='-1',href='#') Houston
          |       
          li
            a(role='menuitem', tabindex='-2',href='#') San Jose
          |       
          li
            a(role='menuitem', tabindex='-2',href='#') Chennai

      .btn-group.col-xs-12.col-md-6.col-sm-6.col-lg-3
        button.btn.btn-block.btn-default.dropdown-toggle.form-control(type='button', data-toggle='dropdown', aria-expanded='true')
          span(data-bind='label') Categories
          span.caret
        |     
        ul.dropdown-menu(role='menu', aria-labelledby='Categories')
          li
            a(role='menuitem', tabindex='-2',href='#') Restaurants
          |       
          li
            a(role='menuitem', tabindex='-2',href='#') Cafes
          |       
          li
            a(role='menuitem', tabindex='-2',href='#') Pharmacy
          |       
          li
            a(role='menuitem', tabindex='-2',href='#') Clothing
          |       
          li
            a(role='menuitem', tabindex='-2',href='#') Salons

      .btn-group.col-xs-12.col-md-6.col-sm-6.col-lg-3
        button.btn.btn-block.btn-default.dropdown-toggle.form-control(type='button', data-toggle='dropdown', aria-expanded='true')
          span(data-bind='label') Payment type
          span.caret
        |     
        ul.dropdown-menu(role='menu', aria-labelledby='paymenttype')
          li
            a(role='menuitem', tabindex='-2',href='#') Creditcard
          |       
          li
            a(role='menuitem', tabindex='-2',href='#') Visa
          |       
          li
            a(role='menuitem', tabindex='-2',href='#') Cash
          |       
          li
            a(role='menuitem', tabindex='-2',href='#') Apple Pay    
      .btn-group.col-xs-12.col-md-6.col-sm-6.col-lg-3
        button.btn.btn-block.btn-default.dropdown-toggle.form-control(type='button', data-toggle='dropdown', aria-expanded='true')
          span(data-bind='label') Amount
          span.caret
        |     
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu2')
          li
            a(role='menuitem', tabindex='-2',href='#') $0 - $5
          |       
          li
            a(role='menuitem', tabindex='-2',href='#') $6 - $10
          |       
          li
            a(role='menuitem', tabindex='-2',href='#') $11 - $15  
          |       
          li
            a(role='menuitem', tabindex='-2',href='#') $16 - $20  

      table#receipts(data-toggle='table', data-cache='false', data-height='399', data-show-columns='true', data-show-refresh='true', data-show-toggle='true', data-search='true', data-pagination='true', data-click-to-select='true')
        thead
            tr
              //- th(data-field='state', data-radio='true')
              //- |    
              th(data-halign='center', data-align='center', data-sortable='true', data-switchable='true') Date
              |         
              th(data-halign='center', data-align='center', data-sortable='true', data-switchable='true') Shop Name
              |    
              th(data-halign='center', data-align='center', data-sortable='true', data-switchable='true') Payment Type
              |    
              th(data-halign='center', data-align='center', data-sortable='true', data-switchable='false') Receipt #
              |         
              th(data-halign='center', data-align='center', data-sortable='true', data-switchable='true') Amount
          |     
        tbody
          each val in buyertransactions_
            tr#tr_id_1.tr-class-1
              td#td_id_1.td-class-1 #{val.transaction_date.toDateString()}
              |         
              td #{val.seller_name}
              |   
              td #{val.paymenttype}
              |    
              td #{val.transaction_id}
              |         
              td #{val.aftertax}
  div.row  
    #sorts.button-group
        //-input#quicksearch(type='text', placeholder='Search')
          |            
        .btn-group.col-xs-6.col-md-2.col-sm-2.col-lg-2     
          button.btn-block.dropdown-toggle.button.is-checked(type='button', data-toggle='dropdown', aria-expanded='true') 
            span(data-bind='label') Sorter
            span.caret
            |     
          ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu2')
            li
              button.button.is-checked(data-sort-value='original-order')  default
            |       
            li
              button.button(data-sort-value='name') name
            |       
            li
              button.button(data-sort-value='price') Price Inc 
            |   
            li
              button.button(data-sort-value='priceDecending') price Dec     
            |       
            li
              button.button(data-sort-value='date') Date 
      #container
        each val in buyertransactions_
          |     
          div.element-item
            .text-hide.name  #{val.seller_name}
            .text-hide.priceDecending #{val.aftertax.toFixed(0)}
            //-.text-hide.priceDecending  #{val.aftertax} 
            //-p.weight #{val.aftertax}
            //-h3.pull-right  $                            
            p.price #{val.aftertax.toFixed(0)}           
            p                    
            p.date #{val.transaction_date.toDateString()}
            br
            br
            img.img-responsive.center-block(src='img/Sample_logo_500px.png',  width='90%',alt='Responsive image')    
            p   
            a.btn.btn-xs.btn-success.detailreceipt.pull-right(receipt-id='#{val.transaction_id}') Details
  
  script(type='text/javascript').
    $(document).on('click', '.detailreceipt', function() {
      //- e.preventDefault();
      var receipt_ID = $(this).attr('receipt-id');
      console.log('hel '+receipt_ID);
      $('#receiptModal .modal-body').load('/singlereceipt/' + receipt_ID, function() {
        $('#receiptModal').modal();
      });
      });
    $( document.body ).on( 'click', '.dropdown-menu li', function( event ) {
        var $target = $( event.currentTarget );
        $target.closest( '.btn-group' )
        .find( '[data-bind="label"]' ).text( $target.text() )
        .end()
        .children( '.dropdown-toggle' ).dropdown( 'toggle' );
        return false;
        });
    $(function () {
      $('#basic-events-table').next().click(function () {
      $(this).hide();
      var $result = $('#events-result');
      $('#receipts').bootstrapTable({
      onDblClickRow: function (row) {
      $result.text('Event: onDblClickRow, data: ' + JSON.stringify(row));
      },
      }).on('all.bs.table', function (e, name, args) {
      console.log('Event:', name, ', data:', args);
      });
      });
      });
    var $container = $('#container');
    $container.isotope({
      // options
      itemSelector: '.element-item',
      layoutMode: 'fitRows',
      getSortData: {
        name: '.name',
        price: '.price parseInt',
        priceDecending: '.priceDecending parseInt',
         // text from querySelector
        //category: '[data-category]', // value of attribute
        date: function( itemElem ) { // function
          var date = $( itemElem ).find('.date').text();
          return parseFloat( date.replace( /[\(\)]/g, '') );
          }
        }
      });
    $container.isotope({
      sortAscending: {
          name: true,
          price: true,
          date: false,
          priceDecending: false
        } 
      });
    $('#sorts').on( 'click', 'button', function() {
      var sortValue = $(this).attr('data-sort-value');
      $container.isotope({ sortBy: sortValue });
      });
    $('.button-group').each( function( i, buttonGroup ) {
      var $buttonGroup = $( buttonGroup );
      $buttonGroup.on( 'click', 'button', function() {
        $buttonGroup.find('.is-checked').removeClass('is-checked');
        $( this ).addClass('is-checked');
      });
    });

