.well
 img.img-responsive(src='img/Sample_logo_500px.png', alt='Responsive image')
 .text-center
     h4 Recepit #: #{receipt.seller_name}
 .row
   .col-md-6.col-sm-6.col-xs-6.text-left
     address
       |                         
       br
       |2135 Sunset Blvd
       br
       | Los Angeles, CA 90026
       |                         
       br
       |                         
       abbr(title='Phone') P:
       |  (213) 484-6829
       br
   |                 
   .col-md-6.col-sm-6.col-xs-6.text-right
     p
       i Date: #{moment(receipt.transaction_date).format('MMM Do YY')}
     |                     
     p
       i Receipt #: #{receipt.transaction_id}
     |     
     p
       i Payment Type:  #{receipt.paymenttype}             
 .row
   h3.text-center Receipt
   |                 
   |                 
   table.table.table-hover
     thead
       tr
         th Product
         |                             
         th Qty
         |                             
         th.text-center Price
         |                             
         th.text-center Total
     |                     
     tbody
      each item_detail in receipt.item_details
        tr
          td.col-md-9
           em #{item_detail.itemname}
          |                             
          td.col-md-1(style='text-align: center')  #{item_detail.quantity}
          |                             
          td.col-md-1.text-center  #{_.str.numberFormat(item_detail.unitprice, 2)}
          |                             
          td.col-md-1.text-center  #{_.str.numberFormat(item_detail.subtotal_ln, 2)}
      tr                          
        td(colspan=2).col-md-9.text-right
          strong Subtotal:       
        td(colspan=2).col-md-3.text-right
          em $ #{_.str.numberFormat(receipt.beforetax, 2)}
      tr                          
        td(colspan=2).col-md-9.text-right
          strong Tax:       
        td(colspan=2).col-md-3.text-right
          em $ #{_.str.numberFormat(receipt.tax, 2)}                       
      tr
        td(colspan=2).col-md-9.text-right
          strong Total:       
        td(colspan=2).col-md-3.text-right
          strong $ #{_.str.numberFormat(receipt.aftertax, 2)} USD       
    .col-xs-12.col-sm-12.col-md-12.text-center
          button.btn.btn-default.text-center(type='button', data-dismiss='modal') Close       
   

   //- button.btn.btn-success.btn-lg.btn-block(type='button')
     |  XXXX   My Return Label    XXXX &nbsp;&nbsp;&nbsp;
     //- // span.glyphicon.glyphicon-chevron-right
